<div class="bill"></div>
 



<h3 id="tenstore">The Ten Dollar Store </h3>



<%= form_tag({controller: "items", action: "index"}, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q, nil, :size=>100) %>
    <%= submit_tag("Search") %>
<% end %>
<h4 id="search-msg">Leave search box empty and press <b>Search</b> to display all items for sale.</h4>


<% if logged_in? %>
      <h2>Items listed for sale by: <%= current_user.first_name %> <%= current_user.last_name %></h2><br>
<% else %>
  <h2>User Logged Out</h2><br>

<% end %>
<% if logged_in? %>
    <ul>

      <% @items.each do |item| %>
        <li>

          <b>Price:</b> <%= number_to_currency(item.price) %>
          <div class="item-width"><b>Item:</b> <%= link_to item.item_tag, item %><div> 
          <div class="item-width"><b>description:</b> <%= item.description %> <br></div>
          
          
          <b>Shipping Cost:</b> <%= number_to_currency(item.shipping_cost) %><br><br>
          <% if item.image.url != nil %>
              <%= image_tag item.image.url, size: "100x75"%><br><br>
          <% end %>  
        </li>
        <hr size ="8px" noshade>
      <% end %>
    </ul>

  <% end %>