<div class="bill"></div>

<h3 id="tenstore">The Ten Dollar Store </h3>

<%= form_tag({controller: "items", action: "index"}, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q, nil, :size=>100) %>
    <%= submit_tag("Search") %>
<% end %>
<h4 id="search-msg">Leave search box empty and press <b>Search</b> to display all items for sale.</h4>

<h3 id="title">Items for Sale:</h3>


<ul>
  <% @items.each do |item| %>
    <li>

      <b>Price:</b> <%= number_to_currency(item.price) %>
      <b>Item Tag:</b> <%= link_to item.item_tag, item %> 
      <b>description:</b> <%= item.description %> <br>
      
      <b>Category:</b> <%= item.category %> <br>
      <b>Search Tags:</b> <%= item.search_tags %> 
      <b>Shipping Cost:</b> <%= number_to_currency(item.shipping_cost) %><br><br>
      <%= image_tag item.image.url %><br><br>
      <b>Seller:</b> Username: <%= item.seller.username%> Full Name: <%= item.seller.first_name%> <%= item.seller.last_name%>     <span><%= link_to "Edit", edit_item_path(item),{:style=>'color:red', :class => "css_class"} %></span>
    </li><br>
  <% end %>
</ul>