<h3 id="tenstore">The Ten Dollar Store </h3>
<h2 id="title"><%= @item.item_tag %></h2>
<p><b>Item Tag:</b> <%=@item.item_tag %><br><br> 
<b>Description:</b> <%=@item.description%> <br><br>
<b>Photo:</b> <%= @item.photo%> <br><br>
<b>Category:</b> <%= @item.category %> </p>
<b>Search Tags:</b> <%= @item.search_tags%> <br><br>
<b>Shipping Cost:</b><%= number_to_currency(@item.shipping_cost) %> </p>
<%= link_to "Return to Items List", items_path, {:style=>'color:red;', :class => "css_class"} %>

