<%= form_for @seller do |f| %>
  <div>
    <%= f.label "User Name"%>:
    <%= f.text_field :username %>

    <%= f.label :password %>:
    <%= f.text_field :password %>

    <%= f.label :first_name %>:
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>:
    <%= f.text_field :last_name %>

    <%= f.label :phone %>:
    <%= f.text_field :phone %>

    <%= f.label :email %>:
    <%= f.text_field :email %>

  </div>
  <div>
    <%= f.submit %> <br>
    <%= link_to "Cancel", sellers_path , {:style=>'color:red;', :class => "css_class"} %>
  </div>
<% end %>